<div class="container-fluid">
  <div class="row">
    <div *ngFor="let item of getItems()" class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <a routerLink="/items/{{item.id}}">
        <div class="card">
          <app-item-image [base64Image]="item.base64Image"></app-item-image>
          <div class="container-fluid">
            <div class="row"><span>{{item.name}}</span></div>
            <div class="row"><span class="money">${{item.sellingPrice}}</span></div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
